server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka}
    registerWithEureka: ${EUREKA_REGISTER:true}
    fetchRegistry: ${EUREKA_FETCH:true}