management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  health:
    probes:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    group: leaky-tokens

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [corr=%X{correlationId}]%n"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
