spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
  paths-to-exclude:
    - /actuator/**
