spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/auth_db
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}

  data:
    redis:
      host: redis
      port: 6379

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
